.carousel {
  padding: 81px 0 81px 0;
  &__inner {
    position: relative;
    width: 750px;
    margin: auto;
    }
    .slick-prev, .slick-next {
      border: none;
      top: 50%;
      transform: translateY(-50%);
      left: -66px;
      background: #fff;
      position: absolute;
      img {
        width: 31px;
        height: 50px;
      }
    }
    .slick-next {
      right: -66px;
      left: auto;
    }

    .slick-dots {
      display: flex;
      margin: auto;
      justify-content: center;
      list-style-type: none;
      font-size: 0;
      }

      .slick-dots li {
        margin: 0 15px;
      }

      .slick-dots button {
        height: 17px;
        width: 17px;
        border-radius: 50%;
        background-color: #fff;
        border: 2px solid black;
      }

      .slick-dots .slick-active button {
       background-color: rgba(0, 0, 0, 1);
      }

}

